
html{
    background-color: #fff;
    font-size: 100%;
}

body{
    direction: ltr;
    text-align: justify;
    line-height: 1.5;
    word-break: normal;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style pour les tablettes */
@media (max-width: 768px) {
    body {
        font-size: 0.875rem;
    }
}

/* Style pour les smartphones */
@media (max-width: 480px) {
    body {
        font-size: 0.75rem;
    }
}

/* Style sur l'en-tête */
.vector-header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Style sur mw-header */
.vector-header-container .mw-header {
    width: 100%;
    min-height: 3.125rem;
    background-color: var(--background-color-base,#fff);
    min-width: 18.75em;
    max-width: 99.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
}

/* Style sur header-start */
.mw-header .vector-header-start {
    display: flex;
    align-items: center;
    width: 100%;
}

/* Style sur le corps textuel */
.vector-body-container {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0.5em;

}

.red,h3{
    color:rgb(255, 0, 0);
}
.italique{
    color:rgb(0, 0, 255);
}
h2{
    text-transform: capitalize;
}


.title°1{
    border: 3px solid #efc7c7;
}

/* Style pour le menu */
.vector-dropdown {
    margin: 0.5rem;
    margin-left: -1rem;

}

.vector-dropdown .vector-dropdown-checkbox {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: 1;
   display: none;
}


/* Style pour le label  */
.menu-label {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
    border: 1px solid #514e4e;
    padding-right: 0.2em;
    padding-left: 0.2em;
    margin: 0.3em;
    text-decoration: none;
    height: 2.2rem;
}

/* Changement de couleur au survol du label */
.menu-label:hover {
    background-color: #b8b1b1;
}

/* Style pour le contenu du menu */
.vector_menu_content {
    visibility: visible;
    height: auto;
    overflow: hidden auto;
    position: absolute;
    z-index: 50;
    background-color: #f4f4f4;
    font-size: 1rem;
    box-shadow: 0 2px 6px -1px rgba(0,0,0,10);
    transition-property: opacity;
    transition-duration: 100ms;
    max-width: 15.625rem;
    max-height: 23rem;
    margin-left: 8px;
}

/* Style pour la liste du menu */
.vector_menu_content_list {
    list-style: none;
    margin: 10px;
    padding: 0;
    line-height: 1.6;
    width: max-content;
    display: none; /*La propriété display permet de cacher la liste par défaut */

}


/* Afficher la liste du menu si la checkbox est cochée */
#menu-toggle:checked + .menu-label + .vector_menu_content .vector_menu_content_list {
    display: block;
}


/* Style pour les éléments de la liste */
#menu_items .vector_menu_content_list .mw-list-items {
    padding: 0;
    margin-bottom: 0.1em;
}

/* Style sur les liens du menu principal */
.vector_menu_content .mw-list-item a {
    color: black;
    text-decoration: none;
}


/* Changement de couleur au survol des liens */
.vector_menu_content .mw-list-item:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: red;
}

/* Style sur mw-logo */
.mw-logo {
    display: flex;
    align-items: center;
}

/* Style sur Santé Plus */
.logo-text {
    font-size: 2.11rem;
    font-weight: 900;
}

/* Style pour pieds de la page */
.footers {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color: #b8b1b1;
    width: max-content;
    height: 15rem;
}


