
html{
    background-color: #fff;
    font-size: 100%;
}

body{
    direction: ltr;
    text-align: justify;
    line-height: 1.5;
    word-break: normal;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Style pour un ordinateur portable */
@media (max-width: 2000px) {
    body {
        font-size: 1rem;
    }
    .title°1 {
        font-size: 1.8em;
    }
    .image {
        width: 20%;
    }
    .vector-header-start {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    .vector_menu_content_list {
        margin-left: 180px;
    }
    .menu-label {
        width: 80%;
    }
    .humberger {
        width: 100%;
    }
    .image-logo {
        width: 45%;
        padding-left: 0.5em;
    }
    .logo-text  {
        width: 150%;
        font-size: 200%;
        font-weight: 700;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
}

/* Style pour les tablettes */
@media (max-width: 950px) {
    body {
        font-size: 1rem;
    }
    .title°1 {
        font-size: 1.6em;
    }
    .image {
        width: 28%;
    }
    .vector-header-start {
        display: flex;
        align-items: center;
        margin: 5px;
    }
    .vector_menu_content_list {
        margin-left: 80px;
    }
    .menu-label {
        width: 75%;
    }
    .humberger {
        width: 100%;
    }
    .logo-text  {
        width: 150%;
        font-size: 190%;
        font-weight: 600;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    
}

/* Style pour les smartphones */
@media (max-width: 500px) {
    body {
        font-size: 0.875rem;
    }
    .vector-header-start {
        display: flex;
        align-items: center;
        margin: 0;
    }
    .vector_menu_content_list {
        margin-left: 10px;
    }
    .title°1 {
        font-size: 1.5em;
    }
    .image {
        width: 40%;
    }
    .menu-label {
        width: 70%;
    }
    .humberger{
        width: 100%;
    }
    .image-logo {
        width: 30%;
    }
    .logo-text  {
        width: 90%;
        font-size: 180%;
        font-weight: 600;
        padding-left: 0.3em;
        padding-right: 0.3em;
    }
    
}

/* Style sur l'en-tête */
.vector-header-container {
    width: 100%;
    display: grid;
    justify-content: left;
    background-color:#e5e8e8;
}

/* Style sur mw-header */
.vector-header-container .mw-header {
    margin: 10px;
    box-sizing: border-box;
}

/* Style sur le corps textuel */
.vector-body-container {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 0.5em;

}

.red {
    color:rgb(255, 0, 0);
}
.italique{
    color:rgb(14, 148, 12);
}
.subtitle {
    text-transform: capitalize;
}


.title°1 {
    border: 3px solid #efc7c7;
    padding: 2px;
    display: inline-block;
}


/* Style pour le menu */
.dropdown_menu {
    width: 12%;
    position: relative;
}
.vector-dropdown {
    width: 94%;
}


/* Style pour le label  */
.menu-label {
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    display: inline-block;
    margin: 0.3em;
    text-decoration: none;
}

/* Changement de couleur au survol du label */
.menu-label:hover {
    background-color: #b8b1b1;
}

/* Style pour le contenu du menu */
.vector_menu_content {
    visibility: visible;
    height: auto;
    overflow: hidden auto;
    background-color: #b7b6bd;
    font-size: 1rem;
    box-shadow: 0 2px 6px -1px rgba(0,0,0,10);
    max-width: 15.625rem;
}

/* Style pour la liste du menu */
.vector_menu_content_list {
    list-style: none;
    padding: 10px;
    line-height: 1.6;
    width: max-content;
    display: none; /*La propriété display permet de cacher la liste par défaut */
    position: absolute;
    z-index: 5;
    background-color: #fff;
    border-radius: 20px;
}

/* Overlay pour la zone de clique en dehors du menu */
.menu_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.74); /*Transparence*/
    z-index: 1;
}

/* Afficher le menu déroulant et l'overlay lorsqu'on clique sur le boutton */
.menu_open #menu_items {
    display: block;
}
.menu_open #menu_overlay {
    display: block;
}

/* Style pour les éléments de la liste */
#menu_items .vector_menu_content_list .mw_list_item {
    padding: 0;
    margin-bottom: 0.1em;
}

/* Style sur les liens du menu principal */
.vector_menu_content .mw_list_item a {
    color: black;
    text-decoration: none;
}


/* Changement de couleur au survol des liens du menu principal */
.vector_menu_content .mw_list_item:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-color: red;
}

/* Style sur mw-logo */
.mw-logo {
    display: flex;
    align-items: center;
}
.logo-text {
    color: #574791;
}

/* Style pour pieds de la page */
.footers {
    background-color: #e5e8e8;
    height: 15rem;
}
.links {
    text-decoration: none;
}
